.links.inline,
.tabs {padding-left:0;}

.tabs{margin: .5em 0; }

.links.inline > li,
.tabs li{display: inline}

.tabs.secondary{font-size:.8em;}

.menu{padding-left:1em;}

.menu li{list-style:none;}
	
#tabs{float: right;}